# Dependencias
node_modules/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
temp/